CRYPTEX_SITE_URL=https://cryptexorg.duckdns.org
CRYPTEX_ALLOWED_HOSTS=cryptexorg.duckdns.org,localhost,127.0.0.1
CRYPTEX_FORCE_HTTPS=true
CRYPTEX_CANONICAL_REDIRECT=true
CRYPTEX_RATE_LIMIT_PER_MINUTE=240
CRYPTEX_SECURITY_CONTACT=Anon-Sec-BTCC@proton.me
CRYPTEX_REPOSITORY_URL=https://github.com/Anonymous137-sudo/CryptEX_Core
